@charset "UTF-8";
.container__reset {
  margin: 0%;
  padding: 0%; }

.row__reset {
  margin-left: 0%;
  margin-right: 0%;
  padding: 0%; }

* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box; }

.body {
  background-color: bisque;
  font-family: 'Quicksand', sans-serif;
  max-width: 1250px;
  margin: 0% auto; }

ul {
  list-style-type: none;
  margin-bottom: 0rem; }

.h1 {
  color: bisque;
  font-family: 'Cabin Sketch', cursive;
  font-size: 50px;
  text-align: center;
  display: inline-block;
  padding-bottom: 8px;
  font-weight: bold;
  margin-bottom: 0%; }

.h2 {
  color: bisque;
  font-size: 30px;
  font-family: 'Oooh Baby';
  font-weight: bold; }

.enlaceParrafo {
  color: bisque; }

.color {
  background-color: rgba(21, 65, 49, 0.548);
  justify-content: center; }

.sombraP {
  text-shadow: 1px 1px 2px black; }

.sinPadding {
  padding: 0%; }

.sinPL {
  padding-left: 0%; }

.paddingB {
  padding: 1rem; }

.sinMargin {
  margin: 0 auto; }

.margenDerecho {
  position: absolute;
  margin-top: 0%; }

.margintop {
  margin-top: 2rem; }

.margintopgrande {
  margin-top: -9rem; }

.marginT {
  margin-top: 1rem; }

.marginB {
  margin-bottom: 1rem; }

.margenAbajo {
  margin-bottom: 1.5rem; }

.estiloBotones {
  color: bisque;
  background-color: #1a4425;
  font-size: large;
  margin: 1rem;
  padding: 0.2rem; }

.tituloClaro {
  color: bisque; }

.subtituloCentrado {
  color: #0c4724;
  text-shadow: 1px 1px 3px bisque;
  font-weight: 900;
  text-align: center;
  text-decoration: underline;
  font-size: 270%;
  font-family: 'Oooh Baby'; }

strong {
  text-decoration: underline;
  font-style: oblique;
  font-weight: 900; }

.maxwidth {
  max-width: 100%; }

.sinNegrita {
  text-decoration: none;
  font-size: 200%; }

.minTamaño {
  min-height: 200px;
  min-width: 350px; }

.oscuro {
  color: #0c4724 !important; }

.resaltado {
  background-color: bisque; }

.header {
  box-shadow: 5px 8px 11px;
  padding: 1rem;
  border-color: rgba(21, 65, 49, 0.548);
  background-color: #335846;
  margin-bottom: 1rem; }
  .header__contenedor {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative; }
  .header__titulo {
    height: 100px; }

.botonHamburguesa {
  display: none; }

.nav__lista {
  display: flex;
  gap: 2rem; }

.nav__enlace {
  text-decoration: none;
  color: bisque;
  font-size: 125%;
  position: relative; }
  .nav__enlace::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 0%;
    width: 100%;
    height: 1px;
    background-color: bisque;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.7s; }
  .nav__enlace:hover {
    color: bisque; }
  .nav__enlace:hover::after {
    transform: scaleX(1);
    transform-origin: left; }

.icono {
  color: bisque;
  font-size: 15px; }

.oculto {
  display: none; }

/*INDEX*/
#bannerinicio {
  width: 100%;
  height: 80%;
  padding-top: 0.5rem;
  padding-left: 2rem;
  padding-right: 2rem;
  border-radius: 15%;
  margin-bottom: 1rem; }

.caja2index__p {
  font-weight: bold;
  line-height: 1.5;
  text-align: center;
  color: bisque;
  padding: 1rem;
  background: #0c4724;
  background: radial-gradient(circle, #0c4724 0%, #4f5b18 35%, #023620 100%); }

.caja3index {
  margin: 0 auto;
  margin-bottom: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 100%;
  grid-column-gap: 1.5rem; }
  .caja3index__img {
    width: 100%;
    height: 25rem;
    overflow: hidden;
    object-fit: cover; }

.img-thumbnail {
  background-color: #0c4724;
  border-radius: 0%; }

.iframeIndexContenedor {
  height: 32rem;
  margin: 0% auto; }

.iframeIndex {
  height: 100%;
  width: 100%; }

/* Segunda página - Nosotros*/
.tarjetaStaff {
  background-color: rgba(21, 65, 49, 0.548);
  padding: 1rem;
  height: 100%; }
  .tarjetaStaff__img {
    margin-bottom: 0.5rem; }
  .tarjetaStaff__h2 {
    text-decoration: none; }
  .tarjetaStaff__p {
    font-weight: bolder;
    color: bisque; }

.parrafoCajaNosotros {
  font-family: 'Quicksand', sans-serif;
  font-size: 110%;
  line-height: 2;
  text-align: center;
  color: bisque;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 0.4rem;
  font-weight: bold;
  margin-bottom: 0rem; }

.nosotros__img {
  width: 100%;
  object-fit: cover; }

.caja__imgOrigen {
  margin-top: 3.5rem;
  margin-right: 1.5rem;
  width: 400px;
  height: 340px;
  overflow: hidden; }

.imgOrigen {
  width: 100%;
  height: 100%; }

.caja__imgPlanes {
  width: 410px;
  height: 350px;
  margin-top: 3.8rem;
  margin-left: -4rem;
  margin-bottom: 2rem;
  overflow: hidden; }

.imgPlanes {
  width: 100%;
  height: 100%; }

.caja__imgRecomendaciones {
  width: 490px;
  height: 320px;
  margin-top: 4.5rem; }

.imgRecomendaciones {
  width: 100%; }

.tamañoLetra {
  margin-left: 2rem; }

/* Tercera página - Actividades */
.bloqueactividades {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.5rem; }

.tarjeta {
  width: 350px;
  height: 420px;
  margin-top: 1rem;
  background-color: bisque;
  border: rgba(21, 65, 49, 0.548) solid 5px;
  border-radius: 15px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-direction: column;
  padding: 0.5rem; }
  .tarjeta:hover {
    transform: scale(1.2, 1.2);
    transition: 1s; }
  .tarjeta__altura {
    height: 100%; }
  .tarjeta__img {
    width: 100%;
    height: 100%;
    padding: 1rem; }
  .tarjeta__p {
    font-family: 'Quicksand', sans-serif;
    text-align: center;
    color: #1a4425;
    font-weight: bold; }

.acordion {
  padding: 1.5rem; }
  .acordion__caja {
    background-color: rgba(21, 65, 49, 0.87); }
  .acordion__encabezado {
    background-color: rgba(51, 88, 70, 0.747); }
  .acordion__h2 {
    background-color: rgba(51, 88, 70, 0.747);
    font-size: 1.3rem;
    color: bisque;
    font-weight: bolder; }
  .acordion__p {
    font-size: 1.1rem;
    font-weight: 400;
    color: bisque;
    background-color: rgba(21, 65, 49, 0.548);
    background: radial-gradient(circle, #0c4724 0%, #4f5b18 35%, #023620 100%);
    display: flex;
    justify-content: center;
    align-items: center; }
  .acordion__strong {
    font-size: 1.3;
    font-weight: bold; }

.accordion-button:not(.collapsed) {
  background-color: rgba(51, 88, 70, 0.747);
  color: bisque;
  text-align: center;
  border: 2px #0c4724 solid; }

.accordion-item {
  border: 0.3px solid rgba(51, 88, 70, 0.747); }

.altura {
  height: 500px; }

.imagenCarrusel {
  width: 100%;
  height: 100%; }

/* Cuarta página - Cerro*/
.cerro__contenedorimg {
  height: 600px;
  border: solid rgba(21, 65, 49, 0.548) 5px;
  margin-top: 2rem;
  margin-bottom: 1rem;
  padding: 0.5rem; }

.cerro__img {
  width: 100%;
  height: 100%; }

.cajaImgCerro2 {
  padding: 1rem; }

.imgSectionCerro {
  width: 100%;
  height: 100%; }

.cerro__p {
  padding-right: 1rem; }

.parrafoInfo {
  font-size: 20px;
  line-height: 1.3;
  text-align: center;
  padding: 1rem;
  color: bisque;
  font-weight: bolder; }

.cajaVisitaVirtual {
  width: 1000px;
  height: 600px;
  margin-bottom: 2rem; }

.visitaVirtual {
  margin-top: 2rem;
  margin-bottom: 2rem;
  width: 100%;
  height: 600px; }

/* Quinta página - Contacto*/
.cajaContacto {
  width: 500px;
  border: rgba(21, 65, 49, 0.548) solid 3px;
  margin: auto;
  margin-top: 3rem;
  margin-bottom: 2rem;
  padding: 1rem;
  background-color: rgba(21, 65, 49, 0.548);
  background-image: linear-gradient(rgba(221, 221, 221, 0.7), rgba(117, 116, 116, 0.527)), url(https://scontent.feze11-1.fna.fbcdn.net/v/t1.18169-9/24059215_1523002031117359_3082567584205572247_n.jpg?_nc_cat=106&ccb=1-5&_nc_sid=8bfeb9&_nc_ohc=g7RqOBMcny8AX-J3gpr&_nc_ht=scontent.feze11-1.fna&oh=00_AT8ZHsG3vUGDSGVdYTZj2m43NLH8Xymc-2iLkyqqucm_lQ&oe=627B5138);
  background-size: cover;
  padding-bottom: 1rem; }

.formulario {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin: 0.5rem;
  line-height: 1.5;
  gap: 0.3rem; }

.check {
  margin-top: 0.5rem;
  margin-left: 0.2rem; }

.mapa {
  width: 100%;
  height: 350px; }

.parrafoLlegar {
  color: bisque;
  font-weight: bolder;
  font-size: 1.1rem;
  background-color: rgba(21, 65, 49, 0.548);
  border: 3px rgba(51, 88, 70, 0.747) solid; }

.nosotros__cajaImg {
  text-align: center; }

.footer {
  height: 120px;
  box-shadow: 5px 8px 11px;
  padding: 1rem;
  border-color: rgba(21, 65, 49, 0.548);
  background-color: #335846;
  margin-top: 0.5rem;
  max-width: 1250px; }
  .footer__contenedor {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .footer__p {
    font-size: 20px;
    color: bisque;
    margin-bottom: 0%; }
  .footer__lista {
    display: flex;
    gap: 3rem;
    padding-left: 0%; }

.tamañoReducidoI {
  font-size: 2rem;
  text-align: center; }

/* Tablet*/
@media screen and (max-width: 1201px) {
  .nosotros__img {
    width: 600px;
    height: 400px;
    object-fit: cover;
    margin-bottom: 2rem; }
  .imgCajaNosotros {
    text-align: center; }
  .tamañoLetra {
    margin-left: 0%; }
  .sinmarginB {
    margin-bottom: 0; }
  .mapa {
    height: 450px; }
  .visitaVirtual {
    height: 500px; }
  .caja__imgOrigen {
    width: 100%;
    height: 100%;
    margin-top: 0rem; }
  .caja__imgPlanes {
    width: 550px;
    height: 100%;
    margin: 0 auto; }
  .imgPlanes {
    margin-top: 1.5rem;
    margin-left: -4rem; }
  .caja__imgOrigen {
    margin-right: auto; }
  .caja__imgRecomendaciones {
    margin-top: auto; }
  .alturaPisada {
    width: auto; }
  .parrafoCajaNosotros {
    margin-top: 1rem; } }

@media screen and (max-width: 1024px) {
  .body {
    height: auto; }
  .header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .header__contenedor {
      flex-direction: column; }
    .header__titulo {
      text-align: center;
      line-height: 40px;
      margin-bottom: 0.5rem; }
  .nav__lista {
    margin-top: 1rem; }
  .caja3index {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-row-gap: 1rem;
    height: 100%; }
  .iframeIndexContenedor {
    height: 25rem;
    margin: 0% auto; }
  .iframeIndex {
    height: 100%; }
  .footer {
    flex-direction: column-reverse; }
    .footer__p {
      font-size: 15px; }
    .footer__lista {
      margin-bottom: 1.5rem;
      margin-top: 1rem; }
    .footer__contenedor {
      flex-direction: column;
      margin-top: 1rem; }
  .tamañoReducidoI {
    font-size: 32px; }
  .tamañoLetra {
    margin-left: 0%; }
  .cajaImgNosotros {
    width: 35rem;
    justify-content: center; }
  .bloqueactividades {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    gap: 2rem; }
  .tarjeta {
    width: 350px; }
  .cerro__contenedorimg {
    height: 100%;
    margin: 0% auto;
    margin-bottom: 2rem;
    margin-top: 1rem; }
  .cerrosection {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: auto;
    margin-bottom: 2rem; }
  .imgSectionCerro {
    overflow: hidden; }
  .altura {
    height: 400px; }
  .cajaContacto {
    width: 400px; }
  .cajaContacto2 {
    flex-direction: column; }
  .tituloTablet {
    margin-bottom: 1rem; }
  .mapa {
    width: 100%;
    margin-top: 0%;
    margin-left: 0%; }
  .parrafoInfo {
    font-size: 18px;
    font-weight: 400; }
  .caja__imgRecomendaciones {
    margin-top: 0rem; }
  .margintopgrande {
    margin-top: -7rem; } }

@media screen and (max-width: 992px) {
  .mt__tarjeta {
    margin-top: 1rem; }
  .visitaVirtual {
    height: 400px; }
  .col-6 {
    width: 100%; }
  .acordion__p {
    flex-direction: column; }
  .justificado {
    text-align: justify; } }

@media screen and (max-width: 880px) {
  .margintopgrande {
    margin-top: -6.5rem; } }

@media screen and (max-width: 768px) {
  .caja__imgPlanes {
    width: 80%;
    height: 100%;
    margin-left: 2.3rem; }
  .imgPlanes {
    width: 100%;
    height: 100%;
    margin-right: 0%;
    margin-left: 2rem; }
  .offset-1 {
    margin-left: auto; }
  .margintopgrande {
    margin-top: -5rem; }
  #bannerinicio {
    padding-left: 0%;
    padding-right: 0%; }
  .minTamaño {
    min-width: 0%;
    min-height: 0%; }
  .acordion {
    padding: 0;
    padding-bottom: 1rem; } }

/*Mobile*/
@media screen and (max-width: 600px) {
  .nav__lista {
    background-color: #335846e6;
    width: 100%;
    height: 80%;
    transform: translateX(-100%);
    position: fixed;
    top: 0%;
    left: 0%;
    transition: transform 0.5s;
    z-index: 100;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-weight: 600; }
  #menuLista:target {
    transform: translateX(0); }
  .oculto {
    display: inline-block; }
  ul {
    margin: 0%;
    padding: 0%; }
  .icono {
    color: bisque;
    font-size: 15px; }
  .botonHamburguesa {
    display: block;
    margin-top: 1rem; }
  .header__titulo {
    font-size: 70px; }
  .tamañoReducidoI {
    font-size: 25px; }
  .bloqueactividades {
    gap: 0.5rem; }
  .caja2index__p {
    font-size: 80%; }
  .caja3index__img {
    height: 18rem; }
  .iframeIndexContenedor {
    height: 15rem; }
  .recorte {
    overflow: hidden; }
  .imgSectionCerro {
    display: block; }
  .altura {
    height: 300px; }
  .visitaVirtual {
    height: 300px; }
  .cajaContacto {
    width: 350px;
    margin-top: 1rem; }
  .parrafoInfo {
    text-align: center; }
  .footer__p {
    font-size: 15px; }
  .parrafoInfo {
    font-size: 15px; }
  .margintopgrande {
    margin-top: -4rem; }
  .menosTexto {
    display: none; } }

@media screen and (max-width: 570px) {
  .mapa {
    height: 350px; }
  .caja__imgPlanes {
    margin-left: 1.2rem;
    margin-bottom: 2rem; }
  .caja__imgRecomendaciones {
    height: auto;
    padding-bottom: 1rem; }
  .margintopgrande {
    margin-top: -3.2rem; } }

@media screen and (max-width: 402px) {
  #bannerinicio {
    height: 15rem; }
  .caja3index__img {
    height: 15rem; }
  .icono {
    margin-top: 2rem; }
  .botonHamburguesa {
    margin-top: 2rem; }
  .iframeIndexContenedor {
    height: 15rem; }
  .tarjeta__img {
    padding: 0.2rem; }
  .footer {
    margin-left: 0.2rem; }
  .cajaContacto {
    width: 300px; }
  .visitaVirtual {
    margin-bottom: 1rem; }
  .imgPlanes {
    width: 100%;
    height: 100%;
    margin-right: 0%;
    margin-left: 0rem; }
  .caja__imgPlanes {
    margin-left: 1.5rem; }
  .parrafoCajaNosotros {
    font-size: 90%; }
  .parrafoLlegar {
    font-size: 0.9rem; }
  .margintopgrande {
    margin-top: 0rem; }
  .acordion__p {
    font-size: 0.9rem;
    font-weight: 600; }
  strong {
    font-weight: 1200; }
  .acordion__span {
    display: none; } }

@media screen and (max-width: 323px) {
  .footer__p {
    font-size: 12px; }
  .tamañoReducidoI {
    font-size: 20px; }
  .iframeIndex {
    width: auto; }
  .margenAbajo {
    margin-bottom: 1rem; } }
