
.color {
    background-color: blueviolet;
}
.posicion {
    position: relative;
} 
.contenedorCarrusel {
    width: 300px important! ; 
    height: 400px;
    margin: 0 auto;
    overflow: hidden;
    border: 5px solid rgba(21, 65, 49, 0.548);
   
    position: absolute;
    margin-left: 50%;
}
.imagenCarrusel {
    width: 100%;
    height: 100%;}

/* Esto seria un carrusell*/
.galeria__lista{
    display: flex;
    flex-wrap: nowrap;
}

.galeria__contenedor {
    width: 450px;
    height: 400px;
    margin-top: 2rem;
    border: 2px solid rgba(21, 65, 49, 0.548);
    border-radius: 20%;
    overflow: hidden;
}
.galeria__img {
    width: 100%;
    height: 100%;
}
    

/*aca comienza mi css carrusel*/

body {
    background-color:bisque ;
}

.navbar-brand {
    color: bisque;
    font-family: 'Cabin Sketch', cursive;
    font-size: 50px;
    text-align: center;
    display: inline-block;
    padding-bottom: 10px;
}

.nav__lista {
    display: flex;
    gap: 2rem;
}

.nav__enlace{
    text-decoration: none !important ;
    color: bisque;
    font-size: 125%;
    position: relative;

}

.nav__enlace::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 0%;
    width: 100%;
    height: 1px;
    background-color: bisque;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.7s;
}

.nav__enlace:hover::after {
    transform:scaleX(1);
    transform-origin: left;

}
.icono {
    color: bisque;
    font-size: 15px;
}
.oculto {
    display: none;
}

