


.gridcaja {
    width: 800px;
    height: 500px;
    border: 5px solid olivedrab;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas: 
    "item1 item1 item1 "
    "item2 item2 item3"
    "item4 item4 item3"
    "item5 item6 item6";
}

.gridItem {
    color: black;
}

.item1 {
    grid-area: item1; background: rosybrown;
}
.item2 {
    grid-area: item2; background:rgb(224, 241, 144);
}
.item3 {
    grid-area: item3; background: rgb(172, 207, 252);
}
.item4 {
    grid-area: item4; background: rgb(219, 154, 228);
}
.item5 {
    grid-area: item5; background: rgb(163, 56, 62);
}
.item6 {
    grid-area: item6; background: rgb(247, 175, 81);
}




