.container__reset { 
    margin: 0%; 
    padding: 0%; 
} 

.row__reset { 
    margin-left: 0%; 
    margin-right: 0%; 
    padding: 0%; 
} 

* { 
    margin: 0%; 
    padding: 0%;
    box-sizing: border-box;
 }

.body {
    background-color:$colorclaro;
    font-family: 'Quicksand', sans-serif;
    max-width: 1250px;
    margin: 0% auto; 
}

ul { list-style-type: none; }

.h1 {
    color: $colorclaro;
    font-family: 'Cabin Sketch', cursive;
    font-size: 50px;
    text-align: center;
    display: inline-block;
    padding-bottom: 8px;
    font-weight: bold;
    margin-bottom: 0%;
}

.h2{
    color: $colorclaro;
    font-size: 30px;
    font-family: 'Oooh Baby';
    font-weight: bold;
}

.enlaceParrafo {color: $colorclaro;}

.color {background-color: $coloroscuro51;
justify-content: center;}

.sinPadding {
    padding: 0%;
}

.sinPL {
    padding-left: 0%;
}
.paddingB {
    padding-bottom: 1rem;
}

.sinMargin {margin: 0 auto;}

.margenDerecho {
    position: absolute;
    margin-top: 0%;
}

.margintop {margin-top: 2rem;}

.marginB {margin-bottom: 1rem;}

.margenAbajo {margin-bottom: 1.5rem;}

.estiloBotones {
    color: $colorclaro;
    background-color: rgb(26, 68, 37);
    font-size: large;
    margin: 1rem;
    padding: 0.2rem;
}

.tituloClaro {color: $colorclaro;}

.subtituloCentrado{ 
    color: rgb(12,71,36);
    font-weight: bolder;
    text-align: center;
    text-decoration:underline;
    font-size: 220%;
    font-family: 'Oooh Baby';
}