/* Tablet*/

@media screen and (max-width: 1201px) {

    .nosotros__img {
        width: 600px ;
        height: 400px;
        object-fit: cover;
        margin-bottom: 2rem;}

    .imgCajaNosotros {text-align: center;}
    .tamañoLetra {margin-left: 0%;}
    .sinmarginB {margin-bottom: 0;}
    .mapa {height: 450px;}
    .visitaVirtual {height: 500px;}

    .caja__imgOrigen {
        width:100%;
        height: 100%;
        margin-top: 0rem;}

    .caja__imgPlanes{
        width: 550px;
        height: 100%;
        margin: 0 auto;}

    .imgPlanes {
        margin-top: 1.5rem;
        margin-left: -4rem;}

    .caja__imgOrigen {margin-right: auto;}
    .caja__imgRecomendaciones{margin-top: auto;}
    .alturaPisada {width: auto;}
    .parrafoCajaNosotros {margin-top: 1rem;}
}

@media screen and (max-width: 1024px){

    .body {height: auto;}
    
    .header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        &__contenedor {flex-direction: column;}
    
        &__titulo{
            text-align: center;
            line-height: 40px;
            margin-bottom: 0.5rem;}
    }
    
    .nav__lista {margin-top: 1rem;}

    .caja3index {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        grid-row-gap: 1rem;
        height: 100%;}

    .iframeIndexContenedor{
        height: 25rem;
        margin: 0% auto;}

    .iframeIndex { height: 100%;}
    
    .footer { flex-direction: column-reverse;
    
        &__p { font-size: 15px;}
    
        &__lista {
        margin-bottom: 1.5rem;
        margin-top: 1rem;}

        &__contenedor {
        flex-direction: column;
        margin-top: 1rem;}
    }
    .tamañoReducidoI{font-size: 32px;}
    .tamañoLetra {margin-left: 0%;}
    .cajaImgNosotros {
        width: 35rem;
        justify-content: center;}
   
    .bloqueactividades{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-content: center;
        gap: 2rem;}
    
    .tarjeta { width: 350px;}
    
    .cerro__contenedorimg {
        height: 100%;
        margin: 0% auto;
        margin-bottom: 2rem;
        margin-top: 1rem; } 

    .cerrosection {
        display: flex;
        flex-direction: column;
        height: 100%;
        margin: auto;
        margin-bottom: 2rem;}

    .imgSectionCerro { overflow: hidden;}
    .altura {height: 400px;}
    .cajaContacto {width: 400px;}
    .cajaContacto2 {flex-direction: column;}
    .tituloTablet { margin-bottom: 1rem;}
    .mapa {
        width: 100%;
        margin-top: 0%;
        margin-left: 0%;}
    .parrafoInfo {font-size: 18px; font-weight: 400;}
    .caja__imgRecomendaciones {margin-top: 0rem;}
    .margintopgrande { margin-top: -7rem;}
}

@media screen and (max-width: 992px){

    .mt__tarjeta {margin-top: 1rem;}
    .visitaVirtual { height: 400px;}
    .col-6 { width: 100%;}
    .acordion__p {flex-direction: column;}
    .justificado { text-align: justify;}
}

@media screen and (max-width: 880px){

    .margintopgrande {margin-top: -6.5rem;}
}

@media screen and (max-width: 768px) {
    .caja__imgPlanes {
        width: 80% ;
        height: 100%;
        margin-left: 2.3rem;}
    
    .imgPlanes{
        width: 100%;
        height: 100%;
        margin-right:0%;
        margin-left: 2rem;}

    .offset-1 {margin-left: auto;}
    .margintopgrande {margin-top: -5rem;}
    #bannerinicio{ 
        padding-left: 0%;
        padding-right: 0%;}
    .minTamaño{
        min-width: 0%;
        min-height: 0%;}
    .acordion { 
        padding: map-get($map: $espaciados, $key:0 );
        padding-bottom: map-get($map: $espaciados, $key:4 );} 
    }

/*Mobile*/

@media screen and (max-width: 600px){
 
    .nav__lista {
        background-color: #335846e6;
        width: 100%;
        height: 80%;
        transform: translateX(-100%);
        position: fixed;
        top: 0%;
        left: 0%;
        transition: transform 0.5s;
        z-index: 100;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        font-weight: 600;}
        
    #menuLista:target {transform: translateX(0);}
    .oculto { display: inline-block;}
    ul{margin: 0%; padding: 0%;}

    .icono{
        color: $colorclaro;
        font-size: 15px; }

    .botonHamburguesa {
        display: block; 
        margin-top: 1rem;}

    .header__titulo {font-size: 70px;}
    .tamañoReducidoI {font-size: 25px;}
    .bloqueactividades {gap: 0.5rem;}
    .caja2index__p {font-size: 80%;}
    .caja3index__img { height: 18rem;}
    .iframeIndexContenedor {height: 15rem;}
    .recorte{overflow: hidden;}
    .imgSectionCerro { display: block;}
    .altura {height: 300px;}
    .visitaVirtual {height: 300px;}
    .cajaContacto {width: 350px; margin-top: 1rem;}
    .parrafoInfo {text-align: center;}
    .footer__p {font-size: 15px;}
    .parrafoInfo {
        font-size: 16px;
        font-weight: 600;}
    .margintopgrande {margin-top: -4rem;}
    .menosTexto{ display: none;}
}
    
@media screen and (max-width: 570px){
    
    .mapa {height:350px ;}
    
    .caja__imgPlanes {
    margin-left: 1.2rem;
    margin-bottom: 2rem;}

    .caja__imgRecomendaciones {
    height: auto;
    padding-bottom: 1rem;}

    .margintopgrande {margin-top: -3.2rem;}
}

@media screen and (max-width: 402px){

    #bannerinicio {height:15rem;}
    .caja3index__img {height: 15rem;}
    .icono {margin-top: 2rem;} 
    .botonHamburguesa {margin-top: 2rem;}  
    .iframeIndexContenedor {height: 15rem;}
    .tarjeta__img {padding:map-get($espaciados,1)}
    .footer { margin-left: 0.2rem;}
    .cajaContacto { width: 300px;}
    .visitaVirtual {margin-bottom: 1rem;}
    .imgPlanes{
        width: 100%;
        height: 100%;
        margin-right:0%;
        margin-left: 0rem;
    }
    .caja__imgPlanes {margin-left: 1.5rem;}
    .parrafoCajaNosotros {font-size:90%;}
    .parrafoLlegar{font-size: 0.9rem;}
    .margintopgrande {margin-top: 0rem;}
    .acordion__p { font-size: 0.9rem;
    font-weight: 600;}
    strong {font-weight: 1200; }
    .acordion__span { display: none;}
}

@media screen and (max-width: 323px){
    
    .footer__p { font-size: 12px;}
    .tamañoReducidoI {font-size: 20px;}
    .iframeIndex {width: auto;}
    .margenAbajo { margin-bottom: 1rem;}
}